.background {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.200s;
    /* display: inline-block; */

}

.plus {
    font-size: 32px;
    color: var(--color-white);
    cursor: pointer
}

.background:hover{
    transition: background-color 0.200s;
    background-color: #055cb4;
}


.container{
    display: inline-block;
}