.border {
    /* margin-top: 10px; */
  top: 0px;
  left: 0px;
  width: 420px;
  height: 527px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000029;
  border-radius: 7px;
  opacity: 1;
}
.header {
  margin-left: 5%;
  margin-top: 10px;
  padding-top: 30px;
  left: 0px;
  width: auto;
  height: 29px;
  text-align: left;
  font: normal normal medium 24px/24px Roboto;
  letter-spacing: 0px;
  color: #333333;
  text-transform: uppercase;
  opacity: 1;
  font-size: 150%;
  font-family: var(--font-famly);
  text-align: left;
  font: normal normal medium 24px/24px Roboto;
  letter-spacing: 0px;
  color: #333333;
  text-transform: uppercase;
  opacity: 1;
}

.styleInput {
  top: 243px;
  left: 713px;
  width: 369px;
  height: 335px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  opacity: 1; 
}
.margin {
  margin-top: 40px;
  margin-left: 20px;
}
.styleButton {
  top: 600px;
  left: 913px;
  width: 169px;
  height: 44px;
  background: #0052a5 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  margin-top: 10px;
  margin-left: 51%;
  color: white;
  border: none;
}
