.header {
  background-color: rgb(78, 78, 238);
  /* color: rgb(255, 255, 255); */
  display: flex;
  justify-content: space-between;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  background: #0052a5 0% 0% no-repeat padding-box;
  opacity: 1;
}

.wrap1 {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.wrap2 {
  margin-right: 30px;
}
