.container{
    border: 1.5px hsl(0, 0%, 0%, 30%) solid;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 15px;
    border-radius: 10px;

}

.containerBull{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 15px;
    position: absolute;
    transition: left  2s;
}

.bullLeft{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #0052A5;
    border-radius: 10px;
    align-items: center;
    left: 1px;
    position: absolute;
    transition: all 0.3s;
}

.bullRight{ 
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #0052A5;
    border-radius: 10px;
    align-items: center;
    left: 20px;
    position: absolute;
    transition: all 0.3s;
}