.normal{
    border: black 1px solid;
}

.inputFalse{
    border: red 1px solid;
}

.inputFalse:focus {
    outline: 1px solid red;
    border: red 1px solid;
    border-radius: 3px;
}

.errorText{
    color: red;
    float: right;
}
.input{
    display: inline-block;
    height: 10px;
}