.ComponentForSpeakerPopup{
    background-color: white;
    width: 300px;
    height: 250px;
    border: 1px solid white;
    border-radius: 5px;
}
.redAsterisk{
    color: red;
}
input[type=text] {
    width: 100%;
    padding: 6px 10px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 15px;
  }
  input[type=number] {
    width: 100%;
    padding: 6px 10px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 15px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-top: 10px;
    margin-left: 15px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    
  }

  .header{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px; 
  }
  .SpeakerIDText{
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .nameText{
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .ActiveText{
    margin-left: 10px;
  }
  .ButtonAvailable{
    width: 50%;
    margin-left: 50px;
    background-color: white;
    color: blue;
    border: 2px solid blue;
  }
  .cancelButton{
    margin-top: 10px;
    margin-left: 15px;
    background-color: white;
    color: blue;
    border: 2px solid blue;
    border-radius: 4px;
    margin-right: 142px;
 }
 .createButton{
    background-color: blue;
    color: white;
    border-radius: 4px;
 }