.PrimaryButton {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-width: 165px;
  width: 169px;
  height: 44px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  margin: 7px;
  background-color: #0052a5;
  color: white;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PrimaryButton:hover {
  background-color: #003c78;
  color: white;
  border: 1px solid black;
}

.PrimaryButton:active {
  background-color: #ececec;
  box-shadow: 0.5px 1.5px #666;
  transform: translateY(2.5px);
}

.PrimaryButton.SecondaryButton {
  border: 1px solid #0052a5;
  color: #0052a5;
  background-color: #ffffff;
}

.PrimaryButton.SecondaryButton:hover {
  border: 1px solid #0052a5;
  color: #0052a5;
  background-color: #d2e9ff;
}

.PrimaryButton.SecondaryButton:active {
  background-color: #ffffff;
  color: #0052a5;
  border: 1px solid #0052a5;
  opacity: 0.3;
  box-shadow: 0.5px 1.5px #666;
  transform: translateY(2.5px);
}
