 .form{ 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
     padding: 1rem; 
     width: 441px;
    height: 180px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}  

button[type='submit'],
button[type='button'] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #0052A5;
    color: #fff;
    cursor: pointer;
    width: 169px;
    height: 40px;
}
button[type='button'] {
    margin-right: '1.2rem'
}


button[type='submit'] {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: black;
    border: 2px solid #0052A5;
    border-radius: 4px;
    opacity: 1;
    font-size: 1rem;
    margin-right: '0.8rem'
}
.h2{
    margin-top: '-1rem'
}
.button_group{
    margin-top: '0.1rem'
}