.border {
  top: 144px;
  left: 473px;
  width: 420px;
  height: 527px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000029;
  border-radius: 7px;
  opacity: 1;
  padding-left: 2%;
}
.title {
 padding-top: 3%;
}
.inputStyle {
  top: 243px;
  left: 498px;
  width: 369px;
  height: 44px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #B7B7B7;
  border-radius: 4px;
  opacity: 1;
  margin-bottom: 2%;
  padding-left: 5%;
}
.selectStyle {
  top: 320px;
  left: 498px;
  width: 394px;
  height: 44px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #B7B7B7;
  border-radius: 4px;
  opacity: 1;
  padding-left: 5%;
  margin-bottom: 2%;
}
.shortInputStyle {
  top: 399px;
  left: 498px;
  width: 169px;
  height: 44px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #B7B7B7;
  border-radius: 4px;
  opacity: 1;
}
 .buttonStyle {
  top: 399px;
  left: 698px;
  width: 169px;
  height: 44px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #0052A5;
  border-radius: 4px;
  opacity: 1;
}
.buttonsAndInputs {
  display: flex;
  justify-content: space-evenly;
  margin-left: -30px;
  margin-bottom: 2%;
}
.buttonsAndInputs2 {
  display: flex;
  justify-content: space-evenly;
  margin-left: -30px;
  margin-bottom: 2%;
}
.buttonDischrgeStyle {
  margin-top: 4%;
  margin-left: 26%;
  top: 399px;
  left: 698px;
  width: 169px;
  height: 44px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #0052A5;
  border-radius: 4px;
  opacity: 1;
  margin-bottom: 2%;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-left: -30px;
}
.button1 {
  border: solid #0052A5 2px;
  top: 399px;
  left: 698px;
  width: 169px;
  height: 44px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #0052A5;
  border-radius: 4px;
  opacity: 1;
}
.button2 {
  border: solid #0052A5 2px;
  top: 399px;
  left: 698px;
  width: 169px;
  height: 44px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #0052A5;
  border-radius: 4px;
  opacity: 1;
}