.table {
  justify-content: center;
  align-items: center;
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  text-align: center;
}

th {
  background-color: rgb(78, 78, 238);
  background: #0052a5 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 8px;
  text-align: left;
  text-align: center;
  text-align: left;
  font: normal normal bold 16px/30px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

td {
  padding: 8px;
  text-align: left;
  font: normal normal normal 16px/30px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.td_1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  font: normal normal normal 16px/30px Roboto;
}

.td_2 {
  background: #ECECEC 0% 0% no-repeat padding-box;
  opacity: 1;
  font: normal normal normal 16px/30px Roboto;
}