.alertSuccess {
    background-color: #deefd7;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    opacity: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    /* transition: opacity 2s; */
}

.alertError {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
    opacity: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    /* transition: opacity 2s; */
}

.alertWarning {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border: 1px solid #faebcc;
    opacity: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    /* transition: opacity 2s; */
}

.containerMessage {
    padding: 20px;
    width: 100vw;
}

.containerAlertMessage {
    position: fixed;
    bottom: 0;
    width: 100%;
}