.form-hospital{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 481px; 
  margin: auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

 form {
  margin: auto;
  text-align: left;
} 

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type='text'],

select {
  width: 364px;
  height: 41px;
  /* padding: 0.5rem;  */
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

button[type='submit'],
button[type='button'] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: blue;
  color: #fff;
  cursor: pointer;
  width: 169px;
  height: 40px;
}


button[type='submit'] {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  color: black;
  border: 2px solid #0052A5;
  border-radius: 4px;
  opacity: 1;
  font-size: 1rem;
}

.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: -1rem;
}