
.headerButtonNeutral{
  display: inline-flex;
  min-width: 5rem;
  justify-content: center;
  align-items: center;
  padding: 2px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 5px;
  top: 24px;
  left: 342px;
  width: 17px;
  height: 23px;
  /* UI Properties */
  /* background: transparent url('img/Group 603.png') 0% 0% no-repeat padding-box; */
  opacity: 1;
}

.headerButtonSelected{
  display: inline-flex;
  min-width: 5rem;
  justify-content: center;
  align-items: center;
  padding: 2px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 5px;
  color: #ffffff;
  top: 24px;
  left: 342px;
  width: 17px;
  height: 23px;
  /* UI Properties */
  /* background: transparent url('img/Group 603.png') 0% 0% no-repeat padding-box; */
  opacity: 1;
}
.headerButtonNoSelected{
  display: inline-flex;
  min-width: 5rem;
  justify-content: center;
  align-items: center;
  padding: 2px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 5px;
  color: #7196e0;

  top: 24px;
  left: 342px;
  width: 17px;
  height: 23px;
  /* UI Properties */
  /* background: transparent url('img/Group 603.png') 0% 0% no-repeat padding-box; */
  opacity: 1;
}
.icon:hover{
    cursor: pointer;
}

.styleSpenText {
  margin-right: 5px; 
  top: 28px;
  left: 373px;
  white-space: nowrap;
  height: 14px;
  text-align: left;
  font: normal normal medium 12px/24px Roboto;
  letter-spacing: 0px;
  opacity: 1;
}

.styleSpenIcon {
  font-size: 32px;
  margin-right: 3px;
  max-height: 22px;
  width: 20px;
  padding: 20px;
  
}
