
.plusContainer{
    display: flex;
    flex-direction: row-reverse;
}

.switchAndSearchContainer{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;

}

.container{
    display: flex;
    justify-content: center;
}

.subContainer{
    width: 90%;
    margin: 20px 0px;
}