.contaunerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 420px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;

}

.form {
  text-align: left;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

/* .react-tel-input__input, */
.select {
  width: 370px;
  height: 25px;
  /* padding: 0.5rem;  */
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}


.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: -1rem;
}


.contaunerPopup {
  height: 100vh;
  overflow: scroll;
  margin-bottom: 50px;
}

.red_sterisk {
  margin-left: 5px;
  color: red;
}

.conrainerButton{
  margin-top: 0.5rem;
}

.button1{
  margin-right: 0.8rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #0052A5;
  color: #fff;
  cursor: pointer;
  width: 169px;
  height: 40px;
}

.button2{
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 169px;
  height: 40px;
  margin-right: 1.2rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  color: black;
  border: 2px solid #0052A5;
  border-radius: 4px;
  opacity: 1;
  font-size: 1rem;

}


.input{
  width: 370px;
  height: 25px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}