.inputTrue{
    border: black 1px solid;
}

.inputFalse{
    border: red 1px solid;
}

.inputFalse:focus {
    outline: 1px solid red;
    border: red 1px solid;
    border-radius: 3px;
}

.errorText{
    color: red;
    float: right;
}
.input{
    display: inline-block;
}
.img{
    align-items: center;
       height: 20px;
       width: 40px;
       top: 5px;
   } 
   body{
   
   background:rgba(49, 49, 101, 0.095);
   }
   .form{
      box-shadow:rgba(49, 49, 101, 0.095);
      /* box-decoration-break: inherit; */
       align-items: center;text-align: center; 
      
       
       width: 520px;
       left: 34%;
       position: relative;
   }
   .inputs{
    
       position: relative;
   display:grid ;
   grid-template-columns: auto;
   align-items: center; 
   grid-area: auto;
   left: 13%; 
   
   }
   input[type=username], select {
     background-color: rgba(128, 128, 128, 0.336);
       height: 50px;
       width: 300px;
       padding: 12px 20px;
       margin: 10px 0;
       display: inline-block;
       border: 1px solid #ccc;
       
       box-sizing: border-box;left: 5%;
       position: relative;
     }
     input[type=username], select {
       background-color: rgba(128, 128, 128, 0.336);
       height: 70px;
       width: 300px;
       padding: 12px 20px;
       margin: 10px 0;
       display: inline-block;
       border: 1px solid #ccc;
      
       box-sizing: border-box;
       left: 5%;
       position: relative;
     }
     input[type=email], select {
       height: 70px;
       background-color: rgba(128, 128, 128, 0.336);
       width: 300px;
       padding: 12px 10px;
       margin: 10px 0;
       display: inline-block;
       border: 1px solid #ccc;
      
       box-sizing: border-box;
       left: 5%;
       position: relative;
     }
     input[type=pwd], select {
       background-color: rgba(128, 128, 128, 0.336);
       height: 70px;
       width: 300px;
       padding: 12px 20px;
       margin: 10px 0;
       display: inline-block;
       border: 1px solid #ccc;
       
       box-sizing: border-box;left: 5%;
       position: relative;
     }
     input[type=pwdconfirmation], select {
       background-color: rgba(128, 128, 128, 0.336);
       height: 50px;
       width: 300px;
       padding: 12px 20px;
       margin: 10px 0;
       display: inline-block;
       border: 1px solid #ccc;
       
       box-sizing: border-box;left: 5%;
       position: relative;
     }
     .buttons{
       background-color: rgba(128, 128, 128, 0.336);
       width: 45%;
       height: 32px;
       padding: 8px 20px;
       margin: 15px 0;
       display: inline-block;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
       left: 12%;
       position: relative;
     }
     input[type=signUp] {
       text-align: center;
       align-items: center;
       width: 35%;
       background-color: #4CAF50;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       border: none;
       
       cursor: pointer;
       left: 21%;
       position: relative;
     }
     .btn{
       width: 35%;
       padding: 12px 20px;
       margin: 15px 0;
       display: inline-block;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
       left: 17%;
       position: relative;
       background-color: #4CAF50;
       color: white;
       font-style:oblique;
     }
     .lebal{
       position: relative;
       text-align: left;
      
     }
     
     .btn:hover {
       background-color: #45a049;
     }
     .h3{
      text-align: center;
      font-size: x-large; 
     }
     .img{
       right: 15px;
       margin-top:1px;
       bottom:5px ;
       top: 15px;
   
     }
     .button{
        width: 35%;
        padding: 12px 20px;
        margin: 15px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        left: 3%;
        position: relative;
        background-color: #4CAF50;
        color: white;
        font-style:oblique;  
     }