.containerSearch {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.containerInput {
    width: 300px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
}

.styleInput {
    border: none;
    margin: 0 16px;
    width: 100%;
    font-size: 17px;
    color: #656565;
}

.styleInput:focus {
    outline: none;
}

.buttonSearch {
    height: 24px;
    background-color: #0052A5;
    color: hsl(0, 0%, 100%, 90%);
    border: black 1px solid;
    margin-left: 10px;
    border-radius: 1px;
    font-weight: 550;
}

.wrapIcon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: #0052A5 1px solid;
    border-radius: 50%;
    padding: 7px;
    background-color: #0052A5;
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
    transition-duration: 0.2s;
}

.wrapIcon:hover {
    background-color: #fff;
    color: #0052A5;
}

.icon {
    padding: 0;
}