.border {
  padding: 20px;
  width: 380px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000029;
  border-radius: 7px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button1 {
  border: solid #0052a5 2px;
  top: 600px;
  left: 913px;
  width: 169px;
  height: 44px;
  border-radius: 4px;
  opacity: 1;
  margin-right: 10px;
  
}
.button2 {
  border: solid #0052a5 2px;
  top: 600px;
  left: 913px;
  width: 169px;
  height: 44px;
  border-radius: 4px;
  opacity: 1;
}

.title {
  top: 237px;
  left: 292px;
  height: 29px;
  text-align: left;
  font: normal normal medium 24px/24px Roboto;
  letter-spacing: 0px;
  color: #333333;
  text-transform: uppercase;
  opacity: 1;
}

.containerComp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 100px);
  width: 90%;
}
.spaceButtons {
  margin-left: -30px;
  justify-content: space-between;
}
