.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 481px;
    margin: auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  form{
    margin: auto;
    text-align: left; 
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  button[type='submit'],
  button[type='button'] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    width: 169px;
    height: 40px;
  }
  
   button[type='submit'] {
    background: #FFFFFF 0% 0% no-repeat padding-box; 
    color:black;
    border: 2px solid #0052A5;
    border-radius: 4px;
    opacity: 1;
    font-size: 1rem;  
    margin-left: '1.2rem' 
  }  
  
  button[type='button']
  {
    margin-right: '0.8rem';
  }
  
  .error {
    color: #dc3545;
    font-size: 14px;
    margin-top: -1rem;
  }
  .span{
    color: 'red'
  }
  .button_group{
    margin-top: '0.5rem'
  }