.on{
    color: hsl(0, 0%, 0%, 50%);
    transition: color 0.150s;
}

.off{
    color: black;
    transition: color 0.150s;
}

.container{
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
}

.containerSwitch{
    padding: 0px 10px;
}
