@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --color-blue: #0052A5;
    --color-gray: #333333;
    --color-white: #FFFFFF;
    --color-grayish: #ECECEC;
    --color-navy_blue: #003C78;
    --color-azure: #D2E9FF;
    --color-red: #A50000;
    --color-light_gray: #B7B7B7;
    --font-famly:'Roboto';
 

}

body {
    font-family:var(--font-famly) ;
    background: var( --color-white);
}
header{

}


p{
  
}

.error {
    color: var( --color-red);
}


h1 {
    
    text-align:var(--text-align);
}

h2 {
    color: var(--color-gray);
    font-family: var(--font-family);
    text-align:var(--text-align);
}

h3 {
    color: var(--color-gray);
    font-family: var(--font-family);
    text-align:var(--text-align);
}

h4 {
    color: var(--color-gray);
    font-family: var(--font-family);
    text-align:var(--text-align);
}

h5 {
    color: var(--color-gray);
    font-family: var(--font-family);
    text-align:var(--text-align);
}

h6 {
    color: var(--color-gray);
    font-family: var(--font-family);
    text-align:var(--text-align);
}
