.progressbar {
  top: 1235px;
left: 245px;
width: 374px;
height: 10px;
background: #ECECEC 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.progressPercent {
  color: rgb(0, 0, 0);
}

.generalDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 73%;
}

.percent {
  height: 40%;
  margin-top: 0.7%;
  background: #a66cff;
  transition: width 0.5s;
}
