.pagination {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

a.active {
  background-color: rgb(78, 78, 238);
  background: #0052a5 0% 0% no-repeat padding-box;
  color: white;
  border-radius: 20%;

}

.none {
  display: none;
}

.noAction {
  pointer-events: none;
}